{% extends '_base.html' %} {% block title %} Review for "{{review.book.title}}""
{% endblock title %} {% block content %}
<div class="book-detail">
  <h2>{{ review.book.title }}</h2>
  <p>Author: {{ review.book.author }}</p>
  <p>Price: ${{ review.book.price }}</p>
</div>
<div>
  <h3>Review</h3>
  <p>{{ review.book }}</p>
  <p>{{ review.review }}</p>
  <p>{{ review.author }}</p>
</div>

{% if user.is_authenticated %}
<a href="{% url 'review_edit' review.pk %}">Edit</a>
<a href="{% url 'review_delete' review.pk %}">Delete</a>
{% endif %} {% endblock content %}
